.destinations{
    margin-top: 123px;
    
    .destination-cards-container{
        display: flex;
        gap:50px;
        justify-content: center;
        
        .destinations-card{
            position: relative;
        }
        .destination-img{
            height: 344px;
            z-index: -1;
            img{
                width: 100%;
                height: 100%;
                z-index: -1;
            }
        }
    }
    .card-content{
        background: #FFFFFF;
        position: absolute;
        width: 100%;
        border-radius: 0px 0px 24px 24px;
        bottom: 0%;
        margin-bottom: -40px;
        z-index: 2;
        box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
    }
    .line-1{
        font-family: Poppins;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 124.5%;
        color: #5E6282;
        padding-left: 25px;
        gap: 50px;
        margin-top: 10px;
    }
    .line-2{
        font-family: Poppins;
        font-style: normal;
        font-weight: 300;
        font-size: 13px;
        line-height: 124.5%;
        padding-left: 25px;
        color: #5E6282;
        gap: 9px;
        margin-top: 0px;
    }
    .spring{
        position: relative;
    }
    .floating-spring{
        content: url("/icons/destinations/spring.svg");
        position: absolute;
        right: 0;
        bottom: 2%;
        margin-right: -50px;
        z-index: -1;
    }
}


// Responsive
@media (max-width: 900px) {
    .destinations{
        margin-top: 100px;
        margin-left: 20px;
        margin-right: 20px;
        .destination-cards-container{
            display: flex;
            gap:90px;
            justify-content: center;
            margin: 0 auto;
            flex-direction: column;
            .destinations-card{
                position: relative;
                
            }
            .destination-img{
                height: 344px;
                z-index: -1;
                img{
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                    // object-fit: contain;
                }
            }
        }
        .card-content{
            background: #FFFFFF;
            position: absolute;
            width: 100%;
            border-radius: 0px 0px 24px 24px;
            bottom: 0%;
            margin-bottom: -40px;
            z-index: 2;
            box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
        }
        .line-1{
            font-family: Poppins;
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 124.5%;
            color: #5E6282;
            padding-left: 25px;
            gap: 50px;
            margin-top: 10px;
        }
        .line-2{
            font-family: Poppins;
            font-style: normal;
            font-weight: 300;
            font-size: 13px;
            line-height: 124.5%;
            padding-left: 25px;
            color: #5E6282;
            gap: 9px;
            margin-top: 0px;
        }
        .spring{
            position: relative;
        }
        .floating-spring{
            content: url("/icons/destinations/spring.svg");
            position: absolute;
            right: 0;
            bottom: 2%;
            margin-right: -50px;
            z-index: -1;
            display: none;
        }
    }
}