.footer{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 150px;
    padding-bottom: 20px;
    .toggle-nav{
        display: none;
    }
    .logo{
        p{
            font-family: Poppins;
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 124.5%;
            color: #5E6282;
        }
    }
    .navs{
        gap: 73px;
        h6{
            font-family: Poppins;
            font-style: normal;
            font-weight: bolder;
            font-size: 18px;
            // line-height: 124.5%;
            color: #080809;
            margin-top: 0px;
            margin-bottom: 10px;
        }
        li{
            font-family: Poppins;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 124.5%;
            padding-bottom: 8px;
            cursor: pointer;
            color: #5E6282;
        }
    }
    .socials{
        h6{
            font-family: Poppins;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 124.5%;
            color: #5E6282;
            margin-top: 10px;
            margin-bottom: 20px;
        }
    }
    .download-links{
        gap:20px;
    }
}
.footer-gap{
    gap: 200px;
    justify-content: center;
    align-items: start;
}

// Responsive
@media (max-width: 900px) {
    .footer{
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 90px;
        border-top: 1px solid gainsboro;
        padding-top: 30px;
        .toggle-nav{
            display: block;
        }
        .logo{
            p{
                font-weight: 500;
                font-size: 13px;
                line-height: 124.5%;
            }
        }
        .navs{
            gap: 40px;
            flex-direction: column;
            h6{
                font-size: 18px;
                color: #080809;
                margin-top: 0px;
                margin-bottom: 10px;
            }
            li{
                font-size: 14px;
                line-height: 124.5%;
                padding-bottom: 8px;
                cursor: pointer;
                color: #5E6282;
            }
        }
        .socials{
            h6{
                font-weight: 500;
                font-size: 18px;
                color: #5E6282;
                margin-top: 10px;
                margin-bottom: 20px;
                text-align: center;
            }
            margin: 0 auto;
            margin-top: -30px;
            width: 100%;
            align-items: center;
            justify-content: center;
            border-top: 1px solid gainsboro;
            padding-top: 20px;
        }
        .icon-container{
            justify-content: center;
        }
        .download-links{
            gap:20px;
            justify-content: center;
        }
    }
    .footer-gap{
        gap: 60px;
        justify-content: center;
        align-items: start;
        flex-direction: column;
    }
}